<h3>Ruby</h3>
<ul>
    <li><a href="/severity/index">Severity levels</a></li>
    <li><a href="/message/index">Message assembly</a></li>
</ul>

<h3 style="margin-top: 40px">Rails</h3>
<ul>
    <li><a href="/controller/errors">Catch controller errors</a></li>
    <li><a href="/actions/index">Log controller actions</a></li>
    <li><a href="/rails_logger/index">Built-in Rails logger</a></li>
</ul>

<hr style="margin-top: 40px" />
<h3 style="margin-top: 20px">Extras</h3>
<ul>
    <li><a href="https://rubygems.org/gems/progstr-ruby" target="_blank">Gem info</a></li>
    <li><a href="http://docs.progstr.com/" target="_blank">Documentation</a></li>
</ul>

