<div id="toptextbox">
  <div id="toptextboxleft">
  </div>

  <div id="toptextboxright">
    <a href="http://app.progstr.com/login"><b>[ Log in ]</b></a>
  </div>
</div>

<div id="top_bg">
  <div id="top_bar">
    <div id="menu_wrapper">

      <div class="logo">
        <a id="custom_logo" href="http://progstr.com">
          <%= image_tag "progstr-logo.png" %>
        </a>
      </div>

      <div class="menu-header-menu-container">
        <ul id="main_menu" class="nav">
          <li id="menu-item-324" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-324">
          <a title="ask anything!" target="_blank" href="http://support.progstr.com/discussion/new" class="">Contact us<span>ask anything!</span></a>
          </li>
          <li id="menu-item-313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-313">
          <a title="complete reference" href="http://docs.progstr.com" class="">Documentation<span>complete reference</span></a>
          </li>
          <li id="menu-item-273" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-273">
          <a title="Live log management app." href="http://app.progstr.com/demoAutoLogin" class="">View Logs<span>Yes, the ones you just logged</span></a>
          </li>
          <li id="menu-item-308" class="signup menu-item menu-item-type-custom menu-item-object-custom menu-item-308">
          <a title="for a free account" href="https://app.progstr.com/signup" class=""><b style="color:firebrick;">Sign up</b><span>for a free account</span></a>
          </li>
        </ul>
      </div>                 
    </div>
  </div>
</div>

